@import url("https://fonts.googleapis.com/css2?family=Akaya+Kanadaka&display=swap");

.QR {
  border: solid black 2px;
  margin-left: 40%;
  width: fit-content;
  margin-top: 8vh;
  border-radius: 10px;
  border-width: 8px;
  border-color: gray;
}

#head {
  font-family: "Oi", cursive;
  font-size: 60px;
  font-weight: 10;
  align-self: center;
}
p {
  font-family: "Akaya Kanadaka", cursive;
  font-size: 50px;
  align-self: center;
  color: dodgerblue;
}
.code {
  margin-left: 20%;
  margin-top: 8%;

  width: fit-content;
  height: 20%;
}
.qrc {
  border: gray groove 2px;
}
.all {
  margin-left: 25%;
  margin-top: 10%;
  background-color: white;
  width: fit-content;
  border-radius: 20px;
}
.ab {
  background-image: ;
  width: 30%;
  border: groove black;
  border-radius: 20px;
  margin-left: 40%;
  height: 70vh;
}
.tex {
  width: fit-content;
  background-color: white;
  margin-left: 5%;
  margin-top: 10%;
  border: wheat;
  border-radius: 10px;
}
.right {
  display: flex;
  flex-direction: column;
  border: black groove 2px;
  float: right;
}
